<!-- <ng-container *ngIf="!empty">
    <h2>Statistics for {{appName}}</h2>
    <div class="container">
        <div class="row">
            <div class="chart col-md-6">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [colors]="pieChartColors" [plugins]="pieChartPlugins">
                </canvas>
            </div>
            <div class="chart col-md-6">
                <canvas baseChart [data]="chartDataB1" [labels]="chartLabelsB1" [chartType]="pieChartType"
                    [options]="chartOptB1" [colors]="pieChartColors" [plugins]="pieChartPlugins">
                </canvas>
            </div>
            <div class="chart col-md-6">
                <canvas baseChart [data]="chartDataB2" [labels]="chartLabelsB2" [chartType]="pieChartType"
                    [options]="chartOptB2" [colors]="pieChartColors" [plugins]="pieChartPlugins">
                </canvas>
            </div>
            <div class="chart col-md-6">
                <canvas baseChart [data]="chartDataB3" [labels]="chartLabelsB3" [chartType]="pieChartType"
                    [options]="chartOptB3" [colors]="pieChartColors" [plugins]="pieChartPlugins">
                </canvas>
            </div>
            <div class="chart col-md-6">
                <canvas baseChart [data]="chartDataB4" [labels]="chartLabelsB4" [chartType]="pieChartType"
                    [options]="chartOptB4" [colors]="pieChartColors" [plugins]="pieChartPlugins">
                </canvas>
            </div>
            <div class="chart col-md-6">
                <canvas baseChart [data]="chartDataB5" [labels]="chartLabelsB5" [chartType]="pieChartType"
                    [options]="chartOptB5" [colors]="pieChartColors" [plugins]="pieChartPlugins">
                </canvas>
            </div>
            <div class="chart col-md-6">
                <canvas baseChart [data]="chartDataB6" [labels]="chartLabelsB6" [chartType]="pieChartType"
                    [options]="chartOptB6" [colors]="pieChartColors" [plugins]="pieChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
</ng-container>

<div class="alert alert-secondary" role="alert" *ngIf="empty">
    There are currently no survey evaluations.
</div> -->