<div class="tab-content">
    <h2>Student Responses</h2>
    <button class="btn btn-success my-2" (click)="exportexcel()">Download Excel</button>
    <button class="btn btn-success my-2" (click)="studentChart()">Generate Char</button>
    <table class="table table-dark table-striped" id="excel-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Orgnization</th>
          <th scope="col">Q1</th>
          <th scope="col">Q2</th>
          <th scope="col">Q3</th>
          <th scope="col">Q4</th>
          <th scope="col">Q5</th>
          <th scope="col">Q6</th>
          <th scope="col">Q7</th>
          <th scope="col">Q8</th>
          <th scope="col">Q9</th>
          <th scope="col">Q10</th>
          <th scope="col">Q11</th>
          <th scope="col">Q12</th>
          <th scope="col">Q13</th>
          <th scope="col">Q14</th>
          <th scope="col">Q15</th>
          <th scope="col">Q16</th>
          <th scope="col">Q17</th>
          <th scope="col">Q18</th>
          <th scope="col">Q19</th>
          <th scope="col">Q20</th>
          <th scope="col">Q21</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of Students">
          <th scope="row">{{ student.Id }}</th>
          <td>{{ student.StudentName }}</td>
          <td>{{ student.Organization_Name }}</td>
          <td>{{ student.Question_1 }}</td>
          <td>{{ student.Question_2 }}</td>
          <td>{{ student.Question_3 }}</td>
          <td>{{ student.Question_4 }}</td>
          <td>{{ student.Question_5 }}</td>
          <td>{{ student.Question_6 }}</td>
          <td>{{ student.Question_7 }}</td>
          <td>{{ student.Question_8 }}</td>
          <td>{{ student.Question_9 }}</td>
          <td>{{ student.Question_10 }}</td>
          <td>{{ student.Question_11 }}</td>
          <td>{{ student.Question_12 }}</td>
          <td>{{ student.Question_13 }}</td>
          <td>{{ student.Question_14 }}</td>
          <td>{{ student.Question_15 }}</td>
          <td>{{ student.Question_16 }}</td>
          <td>{{ student.Question_17 }}</td>
          <td>{{ student.Question_18 }}</td>
          <td>{{ student.Question_19 }}</td>
          <td>{{ student.Question_20 }}</td>
          <td>{{ student.Question_21 }}</td>
        </tr>
      </tbody>
    </table>
  </div>