<!-- <button class="btn btn-danger btn1" (click)="isLogin()">Login</button> -->
<img src="assets/mainlogo.jpg" alt="" class="nfcsurvey">
<div class="main-bt">
    
    <div class="information">
        <h1 class="info-heading"> NFC IEFR Survey</h1>
        <p style="font-weight: 400;">This is NFC IEFR student/teacher survey to get their reviews and experience about the insititute.To fill this survey click here.</p>
    </div>
    <div class="container-fluid btn-can">   
        <button class="btn btn-info mx-3" (click)="studentServey()">Alumni Survey</button>
        <button class="btn btn-success mx-3" (click)="employeeServey()">Employer Survey</button>
    </div>
</div>

