<!-- <button class="btn btn-danger btn1" (click)="isLogin()">Login</button> -->
<h1 class="nfcsurvey">NFC Survey</h1>
<div class="information">
    <p>This is NFC student/teacher survey to get there reviews and experience about the insititute.To fill this survey click here.</p>
</div>
<div class="container-fluid main-bt">   
    <button class="btn btn-info mx-3" (click)="studentServey()">Student Servey</button>
    <button class="btn btn-success mx-3" (click)="employeeServey()">Employee Servey</button>
</div>

