*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_admin{
    background-image: url('main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 0 0 200px; */
    /* overflow: hidden; */
    margin: 0;
    position: relative;
}
.nfcsurvey{
    
    position: absolute;
    width: 130px;
    height: 130px;
    top: 20px;
    left: 40px;
    border-radius: 65px;
    z-index: 20;
}
.main_admin::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
}



.btn{
    padding: 10px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 30;
}
@media (min-width:320px){
 
    .almuBtn{
    position: relative;
    top: 0px;
    left: 160px;
    width: 250px;
    }
    .empBtn{
        position: relative;
        top: 91px;
        left: -23px;
        width: 250px;
    }
    .logBtn{
        position: relative;
        top: 177px;
        left: -186px;
    }
}
/* for large Mobile */
@media (min-width:420px){
    .almuBtn{
        position: relative;
        top: 0px;
        left: 80px;
        width: 250px;
        }
        .empBtn{
            position: relative;
            top: 2px;
            left: 80px;
            width: 250px;
        }
        .logBtn{
            position: relative;
            top: -18rem;
            left: -50px;
        }
}
/* for lablet */
@media (min-width:768px){
    .almuBtn{
        position: relative;
        top: 0px;
        left: 80px;
        width: 250px;
        height: 80px;
        }
        .empBtn{
            position: relative;
            top: 0px;
            left: 150px;
            width: 250px;
        }
        .logBtn{
            position: relative;
            top: -18rem;
            left: 30px;
        }
        
}
@media (min-width:1024px){
    .almuBtn{
        position: relative;
        top: 0px;
        left: 150px;
        width: 250px;
        height: 80px;
        font-size: 20px;
        }
        .empBtn{
            position: relative;
            bottom: 16px;
            left: 235px;
            width: 250px;
            font-size: 20px;
        }
        .logBtn{
            position: relative;
            bottom: 0rem;
            left: 155px;
        }
}
@media (min-width:1440px){
    .almuBtn{
        position: relative;
        top: 0px;
        left: 0px;
        width: 250px;
        height: 82px;
        font-size: 22px;
        }
        .empBtn{
            position: relative;
            bottom: 16px;
            left: 100px;
            width: 250px;
            font-size: 22px;
        }
        .logBtn{
            position: relative;
            bottom:  0rem;
            left: 340px;
        }
}

