<img src="assets/mainlogo.jpg" alt="" class="nfcsurvey">
<div class="container-fluid main_admin">
  <ul class="tab-wrap">
  
    <div class="left">
      <li>
        <input type="radio" id="tab-2" name="tab" class='mx-2'/>
        <label for="tab-2" (click)="studentRes()"> Alumni Response </label>
      </li>
      <li>
        <input type="radio" id="tab-3" name="tab" />
        <label for="tab-3" (click)="employeeRes()"> Employee Response </label>
      </li>
    </div>
  
    <button class="btn btn-danger btn1" (click)="isLogout()">Logout</button> 
  </ul> 

</div>