<img src="assets/mainlogo.jpg" alt="" class="nfcsurvey" />
<form [formGroup]="SurveyForm" class="sur_form">
  <div class="main">
    <div class="info" *ngIf="isSurvey">
      <h1 class="mt-3">Basic Information</h1>
      <div class="mb-3">
        <label for="StudentName" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="StudentName"
          aria-describedby="emailHelp"
          formControlName="StudentName"
        />
      </div>
      <div class="mb-3">
        <label for="Registration_no" class="form-label"
          >UET Registration #</label
        >
        <input
          type="text"
          class="form-control"
          id="Registration_no"
          aria-describedby="emailHelp"
          formControlName="Registration_no"
        />
      </div>
      <div class="mb-3">
        <label for="CNIC_no" class="form-label">CNIC no</label>
        <input
          type="text"
          class="form-control"
          id="CNIC_no"
          aria-describedby="emailHelp"
          formControlName="CNIC_no"
        />
      </div>
      <div class="mb-3">
        <label for="UserName" class="form-label">Email Address</label>
        <input
          type="text"
          class="form-control"
          id="Email"
          aria-describedby="emailHelp"
          formControlName="Email"
        />
        <div
          class="form-text text-danger"
          *ngIf="email.errors?.['required'] && email.touched"
        >
          Email must be required
        </div>
        <div
          class="form-text text-danger"
          *ngIf="email.errors?.['email'] && email.touched"
        >
          Invalid email
        </div>
      </div>
      <div class="mb-3">
        <label for="Department" class="form-label">Department</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="Department"
        >
          <option value="Computer Science">Computer Science</option>
          <option value="Chemical">Chemical</option>
          <option value="Electrical">Electrical</option>
          <option value="Mechanical">Mechanical</option>
          <option value="Civil">Civil</option>
          <option value="BBA">BBA</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="Contact_no" class="form-label">Contact no.</label>
        <input
          type="text"
          class="form-control"
          id="Contact_no"
          aria-describedby="emailHelp"
          formControlName="Contact_no"
        />
      </div>
      <div class="mb-3">
        <label for="Employment_Status" class="form-label"
          >Employment Status</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="Employment_Status"
        >
          <option value="Employed">Employed</option>
          <option value="Self Employed">Self Employed</option>
          <option value="UnEmployed">UnEmployed</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="Organization_Name" class="form-label"
          >Current Organization</label
        >
        <input
          type="text"
          class="form-control"
          id="Organization_Name"
          aria-describedby="emailHelp"
          formControlName="Organization_Name"
        />
      </div>
      <div class="mb-3">
        <label for="Organization_Position" class="form-label"
          >Current Position in Organization</label
        >
        <input
          type="text"
          class="form-control"
          id="Organization_Position"
          aria-describedby="emailHelp"
          formControlName="Organization_Position"
        />
      </div>

      <button
        class="btn btn-success mb-3 btnCon"
        (click)="Continue()"
        [disabled]="
          !SurveyForm.value.StudentName ||
          !SurveyForm.value.Department ||
          !SurveyForm.value.Contact_no ||
          !SurveyForm.value.Registration_no ||
          !SurveyForm.value.Email ||
          !SurveyForm.value.CNIC_no ||
          !SurveyForm.value.Employment_Status ||
          !SurveyForm.value.Organization_Name ||
          !SurveyForm.value.Organization_Position
        "
      >
        Proceed to Survey
      </button>
    </div>
  </div>

  <div class="surveyForm" *ngIf="isContinue">
    <div class="container">
      <h1 class="text-center">Alumni Survey</h1>
    </div>
    <div class="question_cantaier mb-3">
      <div class="head">
        <div class="cantainer_heading">
          <h1>Knowledge</h1>
        </div>
        <div class="cantainer_header">
          <ul>
            <li>Excellent</li>
            <li>Very Good</li>
            <li>Good</li>
            <li>Fair</li>
            <li>Poor</li>
          </ul>
        </div>
      </div>

      <div class="questions">
        <div class="question">
          <div class="label">
            <label for=""
              ><h6>
                1. Math, Science, Humanities and professional discipline, (if
                applicable)
              </h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_1"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_1"
            />
            <input
              type="radio"
              name="Question_1"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_1"
            />
            <input
              type="radio"
              name="Question_1"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_1"
            />
            <input
              type="radio"
              name="Question_1"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_1"
            />
            <input
              type="radio"
              name="Question_1"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_1"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""
              ><h6>2. Problem formulation and solving skills</h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_2"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_2"
            />
            <input
              type="radio"
              name="Question_2"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_2"
            />
            <input
              type="radio"
              name="Question_2"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_2"
            />
            <input
              type="radio"
              name="Question_2"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_2"
            />
            <input
              type="radio"
              name="Question_2"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_2"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""
              ><h6>3. Collecting and analyzing appropriate data</h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_3"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_3"
            />
            <input
              type="radio"
              name="Question_3"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_3"
            />
            <input
              type="radio"
              name="Question_3"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_3"
            />
            <input
              type="radio"
              name="Question_3"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_3"
            />
            <input
              type="radio"
              name="Question_3"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_3"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""
              ><h6>4. Ability to link theory to practice.</h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_4"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_4"
            />
            <input
              type="radio"
              name="Question_4"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_4"
            />
            <input
              type="radio"
              name="Question_4"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_4"
            />
            <input
              type="radio"
              name="Question_4"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_4"
            />
            <input
              type="radio"
              name="Question_4"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_4"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""
              ><h6>5. Ability to design a system component or process</h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_5"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_5"
            />
            <input
              type="radio"
              name="Question_5"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_5"
            />
            <input
              type="radio"
              name="Question_5"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_5"
            />
            <input
              type="radio"
              name="Question_5"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_5"
            />
            <input
              type="radio"
              name="Question_5"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_5"
            />
          </div>
        </div>

        <div class="question">
          <div class="label">
            <label for=""
              ><h6>6. Ability to design a system component or process</h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_6"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_6"
            />
            <input
              type="radio"
              name="Question_6"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_6"
            />
            <input
              type="radio"
              name="Question_6"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_6"
            />
            <input
              type="radio"
              name="Question_6"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_6"
            />
            <input
              type="radio"
              name="Question_6"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_6"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="question_cantaier mb-3">
      <div class="head">
        <div class="cantainer_heading">
          <h1>Communications Skills</h1>
        </div>
        <div class="cantainer_header">
          <ul>
            <li>Excellent</li>
            <li>Very Good</li>
            <li>Good</li>
            <li>Fair</li>
            <li>Poor</li>
          </ul>
        </div>
      </div>

      <div class="questions">
        <div class="question">
          <div class="label">
            <label for=""><h6>7. Oral communication</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_7"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_7"
            />
            <input
              type="radio"
              name="Question_7"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_7"
            />
            <input
              type="radio"
              name="Question_7"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_7"
            />
            <input
              type="radio"
              name="Question_7"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_7"
            />
            <input
              type="radio"
              name="Question_7"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_7"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>8. Report writing</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_8"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_8"
            />
            <input
              type="radio"
              name="Question_8"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_8"
            />
            <input
              type="radio"
              name="Question_8"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_8"
            />
            <input
              type="radio"
              name="Question_8"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_8"
            />
            <input
              type="radio"
              name="Question_8"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_8"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>9. Presentation skills</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_9"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_9"
            />
            <input
              type="radio"
              name="Question_9"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_9"
            />
            <input
              type="radio"
              name="Question_9"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_9"
            />
            <input
              type="radio"
              name="Question_9"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_9"
            />
            <input
              type="radio"
              name="Question_9"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_9"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="question_cantaier mb-3">
      <div class="head">
        <div class="cantainer_heading">
          <h1>Interpersonal Skills</h1>
        </div>
        <div class="cantainer_header">
          <ul>
            <li>Excellent</li>
            <li>Very Good</li>
            <li>Good</li>
            <li>Fair</li>
            <li>Poor</li>
          </ul>
        </div>
      </div>

      <div class="questions">
        <div class="question">
          <div class="label">
            <label for=""><h6>10. Ability to work in team</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_10"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_10"
            />
            <input
              type="radio"
              name="Question_10"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_10"
            />
            <input
              type="radio"
              name="Question_10"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_10"
            />
            <input
              type="radio"
              name="Question_10"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_10"
            />
            <input
              type="radio"
              name="Question_10"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_10"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""
              ><h6>11. Ability to work in arduous /Challenging situation</h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_11"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_11"
            />
            <input
              type="radio"
              name="Question_11"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_11"
            />
            <input
              type="radio"
              name="Question_11"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_11"
            />
            <input
              type="radio"
              name="Question_11"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_11"
            />
            <input
              type="radio"
              name="Question_11"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_11"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>12. Independent thinking</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_12"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_12"
            />
            <input
              type="radio"
              name="Question_12"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_12"
            />
            <input
              type="radio"
              name="Question_12"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_12"
            />
            <input
              type="radio"
              name="Question_12"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_12"
            />
            <input
              type="radio"
              name="Question_12"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_12"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>13. Appreciation of ethical Values</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_13"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_13"
            />
            <input
              type="radio"
              name="Question_13"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_13"
            />
            <input
              type="radio"
              name="Question_13"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_13"
            />
            <input
              type="radio"
              name="Question_13"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_13"
            />
            <input
              type="radio"
              name="Question_13"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_13"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="question_cantaier mb-3">
      <div class="head">
        <div class="cantainer_heading">
          <h1>Management /Leadership Skills</h1>
        </div>
        <div class="cantainer_header">
          <ul>
            <li>Excellent</li>
            <li>Very Good</li>
            <li>Good</li>
            <li>Fair</li>
            <li>Poor</li>
          </ul>
        </div>
      </div>

      <div class="questions">
        <div class="question">
          <div class="label">
            <label for=""
              ><h6>14. Resource and Time management skills</h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_14"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_14"
            />
            <input
              type="radio"
              name="Question_14"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_14"
            />
            <input
              type="radio"
              name="Question_14"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_14"
            />
            <input
              type="radio"
              name="Question_14"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_14"
            />
            <input
              type="radio"
              name="Question_14"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_14"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>15. Judgment</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_15"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_15"
            />
            <input
              type="radio"
              name="Question_15"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_15"
            />
            <input
              type="radio"
              name="Question_15"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_15"
            />
            <input
              type="radio"
              name="Question_15"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_15"
            />
            <input
              type="radio"
              name="Question_15"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_15"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>16. Discipline</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_16"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_16"
            />
            <input
              type="radio"
              name="Question_16"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_16"
            />
            <input
              type="radio"
              name="Question_16"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_16"
            />
            <input
              type="radio"
              name="Question_16"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_16"
            />
            <input
              type="radio"
              name="Question_16"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_16"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="question_cantaier mb-3">
      <div class="head">
        <div class="cantainer_heading">
          <h1>Career Opportunities</h1>
        </div>
        <div class="cantainer_header">
          <ul>
            <li>Excellent</li>
            <li>Very Good</li>
            <li>Good</li>
            <li>Fair</li>
            <li>Poor</li>
          </ul>
        </div>
      </div>

      <div class="questions">
        <div class="question">
          <div class="label">
            <label for=""
              ><h6>17. Scope for IEFR Students in Professional Fields</h6>
            </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_17"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_17"
            />
            <input
              type="radio"
              name="Question_17"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_17"
            />
            <input
              type="radio"
              name="Question_17"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_17"
            />
            <input
              type="radio"
              name="Question_17"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_17"
            />
            <input
              type="radio"
              name="Question_17"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_17"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="question_cantaier mb-3">
      <div class="head">
        <div class="cantainer_heading">
          <h1>Department Status</h1>
        </div>
        <div class="cantainer_header">
          <ul>
            <li>Excellent</li>
            <li>Very Good</li>
            <li>Good</li>
            <li>Fair</li>
            <li>Poor</li>
          </ul>
        </div>
      </div>

      <div class="questions">
        <div class="question">
          <div class="label">
            <label for=""><h6>18. Faculty</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_18"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_18"
            />
            <input
              type="radio"
              name="Question_18"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_18"
            />
            <input
              type="radio"
              name="Question_18"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_18"
            />
            <input
              type="radio"
              name="Question_18"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_18"
            />
            <input
              type="radio"
              name="Question_18"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_18"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>19. Infrastructure</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_19"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_19"
            />
            <input
              type="radio"
              name="Question_19"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_19"
            />
            <input
              type="radio"
              name="Question_19"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_19"
            />
            <input
              type="radio"
              name="Question_19"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_19"
            />
            <input
              type="radio"
              name="Question_19"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_19"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>20. Repute at National level</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_20"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_20"
            />
            <input
              type="radio"
              name="Question_20"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_20"
            />
            <input
              type="radio"
              name="Question_20"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_20"
            />
            <input
              type="radio"
              name="Question_20"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_20"
            />
            <input
              type="radio"
              name="Question_20"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_20"
            />
          </div>
        </div>
        <div class="question">
          <div class="label">
            <label for=""><h6>21. Repute at International level</h6> </label>
          </div>
          <div class="answer">
            <input
              type="radio"
              name="Question_21"
              id="Excellent"
              value="Excellent"
              class="ans_input"
              formControlName="Question_21"
            />
            <input
              type="radio"
              name="Question_21"
              id="Very Good"
              value="Very Good"
              class="ans_input"
              formControlName="Question_21"
            />
            <input
              type="radio"
              name="Question_21"
              id="Good"
              value="Good"
              class="ans_input"
              formControlName="Question_21"
            />
            <input
              type="radio"
              name="Question_21"
              id="Fair"
              value="Fair"
              class="ans_input"
              formControlName="Question_21"
            />
            <input
              type="radio"
              name="Question_21"
              id="Poor"
              value="Poor"
              class="ans_input"
              formControlName="Question_21"
            />
          </div>
        </div>
      </div>
    </div>

    <button
      class="btn btn-success mb-3"
      (click)="onSubmit()"
      [disabled]="!SurveyForm.valid"
    >
      Submit
    </button>
  </div>
</form>
